.Card {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  animation: 0.3s waggle;
  cursor: pointer;
}

.Card .card-image {
  padding-top: 20px;
  max-width: 100%;
}

@keyframes waggle {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0);
  }
}

.Card header {
  background-color: var(--color-primary);
  color: white;
  margin: 0;
  padding: 20px;
}

.Card p {
  margin: 0;
  padding: 25px;
  font-size: 15px;
}

.Card footer {
  background-color: var(--color-primary);
  color: white;
  margin: 0;
  padding: 20px;
}

.Card footer a {
  color: white;
}
